#cart {
    margin-top: 110px;
    margin-bottom: 100px;
}

.cart_title>img {
    width: 100%;
    height: 450px;
}

.cart_title {
    position: relative;
}

.breadcrumb {
    position: absolute;
    top: 30%;
    left: 42%;
    font-family: "Nunito", sans-serif;
}

.breadcrumb>h1 {
    font-size: 46px;
    margin: 0;
    margin-bottom: 17px;
}

.breadcrumb>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.breadcrumb>div>span {
    font-size: 19px;
    color: grey;
    font-weight: 600;
}

.breadcrumb>div>a {
    font-weight: 600;
    font-size: 17px;
}


.page_cart {
    padding: 50px 200px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

tbody > tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table {
    font-family: "Nunito", sans-serif;
}

th {
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 650;
}

td {
    padding: 20px;
    cursor: pointer;
}

th:first-child {
    text-align: left;
}

.detail_box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detail_box > h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
}

.detail_box > span {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    color: grey;
    font-weight: 600;
}
td:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.cart_price, .subtotal {
    font-family: "Nunito", sans-serif;
    color: rgb(91, 91, 91);
    font-weight: 600;
}

.quantity_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantity_btns {
    display: flex;
    flex-direction: column;
}

.quantity_box > input {
    font-weight: bold;
    width: 50px;
    height: 64px;
    text-align: center;
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    border: none;
    outline: none;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.increase {
    background-color: white;
    border: none;
    outline: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black;
    padding: 0px 10px;
    height: 34px;
    text-align: center;
}

.decrease {
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 0px 10px;
    height: 35px;
    text-align: center;
}

.increase > span, .decrease > span {
    font-size: 20px;
    font-weight: bold;
    transition: .3s ease;
}

.increase > span:hover, .decrease > span:hover {
    color: #b8784e;
    cursor: pointer;
}

.removeItem > span {
    font-weight: bold;
    font-size: 22px;
    transition: .2s ease;
}

.removeItem > span:hover {
    color:#b8784e;
    cursor: pointer;
}

.product_name > img:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.detail_box > h3 {
    cursor: pointer;
    transition: .3s ease;
}

.detail_box > h3:hover {
    color:#b8784e;
}

.voucher {
    text-align: left;
    margin-top: 40px;
}

.voucher_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.voucher_box > input {
    font-family: "Nunito", sans-serif;
    padding: 15px 9px;
    width: 400px;
    border: none;
    outline: none;
    border: 1px solid rgb(188, 188, 188);
    font-size: 17px;
    border-radius: 3px;
    transition: .3s ease;
}

.voucher_box > input::placeholder {
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(161, 161, 161);
}

.apply_btn {
    font-family: "Nunito", sans-serif;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #b8784e;
    color:white;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s ease;
}

.apply_btn:hover {
    background-color: black;
}

.voucher_box > input:focus {
    border: 1px solid #b8784e;
}

.cart_total {
    text-align: left;
    border: 1px solid #ddd;
    margin-top: 50px;
    padding: 70px 45px;
}

.cart_total > button {
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 0;
    padding-bottom: 22px;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
}

.cart_amount {}

.cart_body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart_label {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    width: 40%;
    font-size: 18px;
}

.cart_amount {
    font-family: "Nunito", sans-serif;
    width: 60%;
    font-size: 18px;
    font-weight: 700;
}

.cart_actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.checkout {
    padding: 22px 65px;
    font-family: "Nunito", sans-serif;
    background-color: #b8784e;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s ease;
}

.checkout:hover {
    background-color: #5f8e3e;
    cursor: pointer;
}

.continue_shop {
    padding: 22px 40px;
    font-family: "Nunito", sans-serif;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}

.continue_shop:hover {
    background-color: #b8784e;
}

.voucher_error {
    font-family: "Nunito", sans-serif;
    color: red;
    font-weight: 600;
}