
.rightHeader > span {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

.searchItem {
    cursor: pointer;
    transition: .2s ease;
}

.searchItem:hover {
    color:#b8784e;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

.rightHeader > span:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0px 30px;
    animation: slideDown 3s linear;
    transition: all 0.3s linear;
}

.leftHeader > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.leftHeader > ul > li > a {
    font-size: 18px;
    color: #f8f8f8dc;
    text-decoration: none;
    font-weight: 650;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: .3s ease;
}

.leftHeader > ul > li {
    position: relative;
}

@keyframes headerItemToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
.leftHeader > ul > li {
    list-style-type: none;
}
.leftHeader {
    width: 20%;
    justify-content: left;
}

.logo {
    width: 60%;
}

.rightHeader {
    width: 20%;
    justify-content: right;
}

.rightHeader > span:last-child {
    margin-top: 3px;
}

.user {
    display: block;
    cursor: pointer;
}

.userChecked {
    font-size: 22px;
    display: none;
    cursor: pointer;
}
@keyframes slideDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    15% {
        opacity: 0.2;
        transform: translateY(-100px);
    }

    30% {
        opacity: 0.4;
        transform: translateY(-50px);
    }

    50% {
        opacity: 0.6;
        transform: translateY(-20px);
    }

    75% {
        opacity: 0.8;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.userChecked {
    position: relative;
}
.subAvatar {
    padding: 0;
    position: absolute;
    top: 160%;
    left: -50px;
    z-index: 19;
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.431);
    font-family: "Nunito", sans-serif;
    padding: 0 20px;
    width: 400%;
    background-color: white;
    border-radius: 5px;
    visibility: hidden;
    transition: .3s linear;
    cursor: pointer;
}

.subAvatar > li > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .3s ease;
    text-decoration: none;
    color: black;
}

.subAvatar > li > a > p {
    margin: 0;
    width: 70%;
    font-size: 18px;
    text-align: left;
}

.subAvatar > li > a > span {
    width: 30%;
    text-align: left;
    font-size: 24px;
}

.subAvatar > li {
    list-style-type: none;
    cursor: pointer;
}

.subAvatar > li:first-child {
    padding-top: 15px;
    padding-bottom: 10px;
}

.subAvatar > li:last-child {
    padding-top: 8px;
    padding-bottom: 15px;
}


.subAvatar > li:hover > a {
    color:#b8784e;
}

.userChecked:hover > .subAvatar {
    top: 90%;
    visibility: visible;
}


.bag {
    position: relative;
}

.numsInCart {
    position: absolute;
    top: -25px;
    right: -5px;
    font-size: 14px;
    color:#b8784e;
    font-family: "Nunito", sans-serif;
}