#reset_password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 170px 0px 80px 0px;
  }
  
  .reset_password {
    border: 2px solid rgb(231, 231, 231);
    width: 600px;
    border-radius: 5px;
    position: relative;
    height: 530px;
  }
  
  .logo_web {
    position: absolute;
    top: -30px;
    left: 32%;
    background-color: #F9EAE1;
    border-radius: 10px;
  }
  
  .reset_password_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  
  .group_control {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
  }
  
  .group_control > label {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(79, 79, 79);
    text-align: left;
  }
  
  .group_input {
    position: relative;
    width: 400px;
  }
  
  .group_input > span {
    position: absolute;
    top: 16px;
    right: 5px;
    font-size: 22px;
    color: rgb(83, 83, 83);
  }
  
  .group_input > input {
    width: 400px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    padding: 13px 5px;
    margin-top: 5px;
    outline: none;
    margin-bottom: 5px;
  }
  
  .group_input > input:focus {
    border: 1px solid sandybrown;
  }
  
  .group_input > span:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .change_password {
    width: 69%;
    border: none;
    outline: none;
    background-color: #b8784e;
    color: white;
    margin-left: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    padding: 14px 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
  }
  
  .change_password:hover {
    opacity: 0.8;
  }
  
  .err_msg {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-family: "Nunito", sans-serif;
    color: red;
    font-weight: 600;
    font-size: 15px;
  }
  

  #dialogContent {
    position: fixed;
    z-index: 9999;
    top: 140px;
    right: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
}

.dialogText {
    width: 100%;
}

#dialogContent >p {
    margin: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

#dialogContent > span > span{
    margin-top: 3px;
    font-size: 24px;
}