
.relative {
    display: none;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.337);
}
.mini_content {
    position: absolute;
    right: -420px;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: 420px;
    background-color: hsl(0, 0%, 97%);
    transition: all 1s ease;
}

.mini_cart_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ecebeb;
}

.title {
    margin: 0;
    font-weight: 600;
    line-height: 43px;
    height: 45px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 21px;
    font-family: "Nunito", sans-serif;
}


.mini_cart_close {
    border-right: 1px solid #ecebeb;
    padding: 10px 15px;
}

.mini_cart_close > span {
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.mini_cart_close > span:hover {
    color: #b8784e;
}

.mini_cart_counter {
    padding: 10px 20px;
    border-left: 1px solid #ecebeb;
}

.mini_cart_counter > span {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 650;
}

.prod {
    padding: 15px;
}
.product_cart {}
    
.cart_img {
    width: 30%;
}
.minicart_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ecebeb;
}
.product_mini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.product_mini_row1 {
    text-align: left;
}
.product_name_mini {
    margin: 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.product_name_mini:hover > a {
    color:#b8784e;
}
.product_name_mini > a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    font-weight: 650;
    transition: .3s ease;
}

.product_attribute {
    color: rgb(96, 96, 96);
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.minicart_quantity {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 8px;
}

.minicart_price {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 8px;
}

.removeItem > span {
    color: red;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.removeItem:hover > span {
    color:#b8784e;
}